@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400; 
  src: url('../public/fonts/Inter-Bold.woff') format('woff'),
  url('../public/fonts/Inter-ExtraBold.woff') format('woff'),
  url('../public/fonts/Inter-Medium.woff') format('woff'),
  url('../public/fonts/Inter-Regular.woff') format('woff'); 
}

body{
  margin: 0;
  font-family: 'Inter, sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #212427;
}
a {
  text-decoration: none;
  color: #212427;
  }
  .logo .active{
    color: #212427;
  }
  
  ul {
    margin: 0;
  }


